<div id="raffle_ticket" class="round">
	<p class="rotated clearfix tk-rosewood-std" id="raffleNumber">R12500<%= @id %></p>
	<div>
		<p class="thanks">Thank you, <span class="tk-daniel"><%= @first %></span>!</p>
	</div>

</div>