<div id="raffle_ticket" class="round">
	<form action="/" method="post" id="entry">
	<div>
		<input type="text" placeholder="First Name" id="first" class="textBox tk-daniel" name="entry[first]" />
	</div>	
	<div>
			<input type="text" placeholder="Last Name" class="textBox tk-daniel" name="entry[last]" />
	</div>
	<div>
			<input type="text" placeholder="Apple Email Address" class="textBox tk-daniel" name="entry[email]" />
	</div>
	<div id="enter" class="round submit decorative">
		Enter
	</div>
</form>
</div>

<% if @errors %>
<div id="errors" class="round errorField">
    <%@errors.each do |e| %>
       <p><%= e %></p>
    <% end %>
</div>
<% end %>

